<html>
<head>
  <title>Channels</title>
</head>
<body>
  <h1>Listes des channels</h1>
  <p> Cliquez sur un channel </p>
  <ul>
    <li><a href  ="/channel_body/1"> Channel 1</a></li>
    <li><a href  ="/channel_body/2"> Channel 2</a></li>
    <li><a href  ="/channel_body/3"> Channel 3</a></li>
  </ul>

</body>
</html>
